ul{
  &.list-disc-large{
    list-style-type: none;
    padding-left: 0;

    li{
      position: relative;
      padding-left: 1.5em;

      &:before{
        content: "";
        position: absolute;
        width: 0.65em;
        height: 0.65em;
        background-color: var(--colorText);
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        // display: inline-block;
      }
    }
  }
}